



<div class="col-md-12 row card-container">

    <div class="col-md-4"   routerLink="/Project"> 
      <div class="card-content-container">
        <label> Project Portfolio </label>
        <div class="card-description-div">
          An overview of project such as total associates onshore and offshore count, project status 
          applications count etc.
        </div>
      </div> 
   
    </div>
  
    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Application Portfolio  </label>
        <div class="card-description-div">
          Application portfolio includes applications details such as project id, application status etc.
        </div>
      </div> 
    </div>
  
    <div class="col-md-4"  routerLink="/Associate">
      <div class="card-content-container">
         
        <label> Associate Details </label>
        <div class="card-description-div">
          An associate details feature will provide you an detiled view of associates along with the search feature.
        </div>
      </div> 
    </div>
  </div>
  
  <br>
  <div class="col-md-12 row card-container">
  
    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> POCs </label>
        <div class="card-description-div">
          This view will provide the details related to all POCs along with their status.
        </div>
      </div> 
    </div>
  
    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Value Adds/Process Improvement </label>
        <div class="card-description-div">
         This view is havng all the details related to process Improvement that has been done by associate(s) along with its project benefits and account benefits.
        </div>
      </div> 
    </div>
  
    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Active Proposals </label>
        <div class="card-description-div">
          An overview of proposals that has been proposed by TCS or client along with its benefits.
        </div>
      </div> 
    </div>
  </div>
  
  
  
  <br>
  <div class="col-md-12 row card-container">
  
    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Resourcing </label>
        <div class="card-description-div">
          Resourcing includes requirement details under DP/CP.
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Customer Appreciation </label>
        <div class="card-description-div">
          An overview of all the appreciations which associates got for their work.
        </div>
      </div> 
    </div>
  
    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Customer Visit </label>
        <div class="card-description-div">
          This view includes details about the customer visits that happened for any project along with the higlights.
        </div>
      </div> 
    </div>

    
  </div>


  <br>
  <div class="col-md-12 row card-container">
  
    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Revenue Projections </label>
        <div class="card-description-div">
          Under Construction...
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Operational Snapshot </label>
        <div class="card-description-div">
          Under Construction...
        </div>
      </div> 
    </div>
  
    <div class="col-md-4">
      <div class="card-content-container">
        
        <label> Gross Margin </label>
        <div class="card-description-div">
          Under Construction...
        </div>
      </div> 
    </div>

    
  </div>

  